<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="./chat-room-dialog-header.html">
<link rel="import" href="./chat-room-dialog-content.html">
<link rel="import" href="./chat-room-dialog-input-panel.html">
<link rel="import" href="./chat-room-dialog-close-btn.html">

<dom-module id="chat-room-dialog">
    <template>
        <style>
            :host {
                width: 600px;
                height: 500px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        </style>

        <chat-room-dialog-header></chat-room-dialog-header>
        <chat-room-dialog-content></chat-room-dialog-content>
        <chat-room-dialog-input-panel></chat-room-dialog-input-panel>
        <chat-room-dialog-close-btn></chat-room-dialog-close-btn>
    </template>

    <script type="module">
        class ChatRoomDialog extends Polymer.Element {
            static get is() { return 'chat-room-dialog'; }
        }

        window.customElements.define(ChatRoomDialog.is, ChatRoomDialog);
    </script>
</dom-module>